@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  transition: 0.4s ease;
}

/* YOUR GIF BACKGROUND */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://raw.githubusercontent.com/ushmaryosep/it242-react-restapi-/refs/heads/main/Your%20Name%20Falling%20GIF%20by%20All%20The%20Anime%20—%20Anime%20Limited.gif") center/cover no-repeat;
  filter: blur(6px) brightness(0.6);
  z-index: -2;
}

body.dark::before {
  filter: blur(6px) brightness(0.35);
}

.app-container {
  min-height: 100vh;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.glass-wrapper {
  width: 100%;
  max-width: 1100px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(25px);
  border-radius: 30px;
  padding: 60px;
}

/* BIG MODERN TITLE */
.hero-title {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 60px;
  transition: 0.4s ease;
}

.hero-title:hover {
  transform: scale(1.05);
  text-shadow: 0 0 40px rgba(255,255,255,0.9);
}

/* FORM */
.journal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

select, textarea {
  padding: 18px;
  border-radius: 15px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 1rem;
}

textarea {
  min-height: 120px;
  resize: none;
}

.emoji-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.emoji-item {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.emoji-item:hover {
  transform: scale(1.3);
}

.active {
  transform: scale(1.4);
}

/* CARDS */
.entries-grid {
  column-count: 3;
  column-gap: 25px;
}

.memory-card {
  background: rgba(255,255,255,0.15);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 25px;
  color: white;
  display: inline-block;
  width: 100%;
}

.card-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 0.8;
}

.timestamp {
  font-size: 0.75rem;
}

/* THEME BUTTON */
.theme-switch {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
}